voices/male_voice.wav
voices/female_voice.wav
output.wav
music/ambient.mp3
music/calm.mp3
music/classical.mp3
music/instrumental.mp3
music/melodic.mp3
music/nature.mp3
music/uplifting.mp3
__pycache__
projenv
res.wav
projenv

